{
  "dev": {
    "driver": "pg",
    "host": "",
    "database": "",
    "user": "",
    "password": "",
    "schema": "public"
    "port": ,
    "ssl": {
      rejectUnauthorized": false
    }
  }
}
